.wrap{
    width: 100px;
    height: 20px;
    & > ul{
    	list-style-type: none;
        li{
            float: left;
            &:nth-of-type(1){
                color: red;
            }
        }
    }
}