@mixin position_center($top, $left: 50%){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}
div{
    @include position_center(20%);
}
span{
    @include position_center(40%, 10%);
}